body{
    background-image: url(img/email-pattern.png);
    background-attachment: fixed;
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    padding-bottom: 5vh;
}

#container{
    width: 70%;
    margin: 7vh 15vw 0vh 15vw;
    min-height: 1150px;
    background-image: url(img/container_background.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
}

p{
    padding: 0px;
    margin: 0px;
}

#surname b{
    font-size: 1.1vw;
}

header{
    position: relative;
    padding-top: 7vh;
    padding-left: 7vw;
    height: 15vh;
}

#me{
    height: 100%;
    float:left;
}

#flag{
    height: 15vh;
    font-size: 1vw;
    float: left;
    display: flex;
    align-items: center;
    padding-left: 18vw;
    margin-left: 5vw;
    position: absolute;
    z-index: 5;
    background-image: url(img/flag.png);
    background-position: right;
    background-repeat: no-repeat;
}

#a_circle11{
    background-color: white;
    padding: 1.6vh;
    width: 5vh;
    height: 5vh;
    position: absolute;
    z-index: 999;
    right: 19vw;
    top: 12vh;
    border-radius: 200px 200px 200px 200px;
    border: 4px solid #526D80;
}

#a_circle11:hover{
    box-shadow: 0px 0px 11px -2px rgba(0,0,0,0.79);
}

#a_circle22{
    background-color: white;
    padding: 1.6vh;
    width: 5vh;
    height: 5vh;
    position: absolute;
    z-index: 999;
    right: 19vw;
    top: 12vh;
    border-radius: 200px 200px 200px 200px;
    border: 4px solid #526D80;
}

#a_circle22:hover{
    box-shadow: 0px 0px 11px -2px rgba(0,0,0,0.79);
}

#circle1{
    background-image: url(img/messenger.png);
    background-size: cover;
    width: 5vh;
    height: 5vh;
    position: absolute;
    z-index: 999;
}

#circle2{
    background-image: url(img/gmail.png);
    background-size: cover;
    width: 5vh;
    height: 5vh;
    position: absolute;
    z-index: 999;
}

#cowboy{
    width: 100%;
    z-index: 9999;
}

#sides{
    width: 100%;
    min-height: 63.5vh;
    margin-top: 13vh;
    border-top: solid 0.2vh #555;
    background-image: url(img/sides_background.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 7vh;
}

#sides_header{
    width: 100%;
    min-height: 2vh;
    background-color: #132e45;
    z-index: 5000;
    margin-bottom:  8vh;
    position: relative;
    padding: 2.5vh 0vh;
    text-align: center;
}

#sides_header p, #p_schools p{
    color: white;
    font-size: 2.4vh;
}

#sides_header b, #p_schools b{
    color: white;
    font-size: 3vh;
}

#domowe{
    height: 27vh;
    width: 100%;
    position: absolute;
    background-image: url(img/domowe.PNG);
    background-size: cover;
    z-index: 999;
    border-radius: 10px 10px 0px 0px;
}

#domowee{
    width: 40%;
    float: left;
    margin-left: 4vw;
    position: absolute;
    z-index: 999;
    border-radius: 10px 10px 10px 10px;
}

#dom_tekst{
    width: 100%;
    text-align: center;
    float: left;
    margin-top: 27vh;
    position: relative;
    z-index: 999;
    color: white;
    height: 15vh;
    background-color: #051624;
    padding-top: 2vh;
    border-radius: 0px 0px 10px 10px;
}

#github_img{
    width: 5vh;
    z-index: 9999;
}

#github{
    position: absolute;
    left:33vh;
    top: 12vh;
    z-index: 9999;
}

#github:hover{
    top:9.5vh;
    left:30.5vh;
}

#github_img:hover{
    width: 10vh;
}

#dom_tekst b{
    font-size: 3vh;
}

#dom_tekst p{
    padding: 5% 0%;
    font-size: 2vh;
}

#domowee:hover{
    box-shadow: 0px 0px 37px -2px rgba(0,0,0,0.79);
}

#osadaa{
    width: 40%;
    right: 4vw;
    margin-left: 4vw;
    position: absolute;
    z-index: 999;
    border-radius: 10px 10px 10px 10px;
}

#osada{
    width: 100%;
    right: 4vw;
    height: 27vh;
    background-image: url(img/osada.PNG);
    background-size: cover;
    z-index: 999;
    border-radius: 10px 10px 0px 0px;
}

#osa_tekst{
    width: 100%;
    text-align: center;
    float: left;
    position: relative;
    z-index: 999;
    color: white;
    height: 15vh;
    background-color: #051624;
    padding-top: 2vh;
    border-radius: 0px 0px 10px 10px;
}

#osa_tekst b{
    font-size: 3vh;
}

#osa_tekst p{
    padding: 5% 0%;
    font-size: 2vh;
}

#osadaa:hover{
    box-shadow: 0px 0px 37px -2px rgba(0,0,0,0.79);
}

#schools{
    min-height: 10vh;
    background-image: url(img/schools_background.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    z-index: 555;
    padding-bottom: 7vh;
}

#p_schools{
    width: 100%;
    z-index: 5000;
    margin-bottom:  5vh;
    padding-top: 5vh;
    text-align: center;
}

#daty{
    width: 100%;
    color: white;
    font-size: 2.3vh;
}

#daty td{
    width: 50%;
    padding-bottom: 1.5vh;
    padding-top: 1.5vh;
}

.daty_pierwsza_kolumna{
    text-align: center;
    font-size: 3.5vh;
}

.daty_pierwsza_kolumnaa{
    text-align: center;
    font-size: 2vh;
}

.school_shadow:hover{
    box-shadow: 0px 0px 28px 0px rgba(0,0,0,0.75);
}

#looking_for{
    width: 100%;
    position: relative;
    z-index: 555;
    background-color: #b2c4d4;
    min-height: 33vh;
    padding: 5vh 0vh;
}

#looking_for li{
    min-height: 7vh;
}

#szukam_cien{
    position: absolute;
    height: 100%;
    width: 50%;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0.8;
    top: 0vh;
    left: 0vh;
    opacity: 0;
    box-shadow: inset 0px 0px 43px 0px rgba(0,0,0,1);
}

#oferuje_cien{
    position: absolute;
    height: 100%;
    width: 50%;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0.8;
    top: 0vh;
    left: 50%;
    opacity: 0;
    box-shadow: inset 0px 0px 43px 0px rgba(0,0,0,1);
}

#szukam,#oferuje{
    text-align: center;
    width: 39.7%;
    font-size: 2.5vh;
    padding: 0vh 5%;
    float: left;
}

#column{
    background-color: #132e45;
    position: absolute;
    z-index: 5566;
    width: 0.6%;
    left: 49.7%;
    height: 30vh;
}

#l_title_o, #l_title_s{
    width: 100%;
    text-align: center;
    color: black;
    font-size: 3.5vh;
    padding-bottom: 3vh;
}

#cert{
    background-image: url(img/cert_background.png);
    width: 80%;
    top: -5vh;
    padding: 5vh 10%;
    text-align: center;
}

#cert h1{
    margin-bottom: 4vh;
}

#cert li
{
    text-align: left;
    font-size: 2.3vh;
    margin-bottom: 2vh;
}
