/*   cursor: url(img/house_c.png), pointer;     */

body{
    padding: 0;
    margin: 0;
    font-family: 'Charm', cursive;
}

.grid{
    height: 25px;   width: 25px;
    float: left;
    position: absolute;
    z-index: 0;
}

.grass{
    height: 25px;   width: 25px;
    float: left;
    position: absolute;
    z-index: -3;
}

.color{
    height: 25px;   width: 25px;
    float: left;
    position: absolute;
    z-index: -2;
}

.capitol{
    height: 25px;   width: 25px;
    float: left;
    position: absolute;
    z-index: -1;
}

.spruce{
    height: 25px;   width: 25px;
    float: left;
    position: absolute;
    z-index: 1;
}

.water{
    height: 25px;   width: 25px;
    float: left;
    position: absolute;
    z-index: -3;
}

.mountain{
    height: 25px;   width: 25px;
    float: left;
    position: absolute;
    z-index: -1;
}

#rightarrow{
    position: absolute;
    z-index: 2;
    right: 0;
    top: 25px;
}

#rightmenu{
    position: absolute;
    right: 0px;
    z-index: 10;
    width: 417px;
    height: 100vh;
    display: none;
    background-color: white;
    overflow: auto;
    padding-right: 17px;
}

#buildings{
    position: relative;
    width: 100%;
    z-index: 5;
}

#research_div{
    position: relative;
    width: 100%;
    z-index: 5;
}


.title{
    position: relative;
    background-image: url(img/menu_button.png);
    background-repeat: no-repeat;
    height: 80px;
    width: 350px;
    z-index: 15;
    margin: 25px 25px 0px 25px;
    font-size: 35px;
    text-align: center;
    cursor: pointer;
    float: left;
}

.menu_field{
    margin: 0px;
    padding: 0px;
    z-index: 15;
    float: left;
    height: 80px;
    margin: 0px 25px;
    cursor: pointer;
    position: relative;
}

.title:hover{
    background-image: url(img/menu_button_pressed.png);
}

.title p{
    position: relative;
    float: left;
    margin-top: 15px;
    margin-left: 30px;
    margin-bottom: 11px;
}

#building_icon{
    position: relative;
    z-index: 6;
    float: left;
    margin-top: 22px;
    margin-left: 25px;
}

#research_icon{
    position: relative;
    z-index: 6;
    float: left;
    margin-top: 25px;
    margin-left: 25px;
}

#research_window_background{
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.8);
    font-family: 'MedievalSharp', cursive;
}

#research_window{
    width: 60vw;
    height: 70vh;
    position: absolute;
    z-index: 101;
    top: 15vh;
    left: 20vw;
    color: white;
}

.field{
    position: relative;
    background-image: url(img/menu_list.png);
    height: 80px;
    width: 350px;
    z-index: 6;
    font-size: 35px;
    text-align: center;
    cursor: pointer;
    float: left;
    margin: 0px 25px;
    display: none;
}

#pts_fields{
    position: absolute;
    z-index: 2;
    right: 0;
    top: 175px;
}

#ptss_fields{
    position: absolute;
    z-index: 2;
    right: 0;
    top: 250px;
}

#end{
    position: absolute;
    z-index: 2;
    right: 0;
    top: 325px;
}

#rightarrow:hover + #rightmenu{
    display: block;
}
#rightmenu:hover {
    display: block;
}

#wood{
    background-image: url(img/wood.png);
    background-repeat: no-repeat;
}

#stone{
    background-image: url(img/stone.png);
    background-repeat: no-repeat;
}

#iron{
    background-image: url(img/iron.png);
    background-repeat: no-repeat;
}

#population{
    background-image: url(img/population.png);
    background-repeat: no-repeat;
}

#research{
    background-image: url(img/research.png);
    background-repeat: no-repeat;
}

.resources{
    max-height: 60px;
    min-height: 60px;
    float: left;
    width: 60px;
    margin: 10px 30px 10px 40px;
    margin-top: 20px;
}

.number_resources{
    z-index: 20;
    float: right;
    margin-top: 33px;
    min-width: 16px;
}

.menu_build_icon{
    position: absolute;
    top: 13px;
    left: 45px;
}

.menu_build_title{
    position: absolute;
    top: -20px;
    left: 90px;
    font-size: 25px;
}

.menu_army_c_title{
    position: absolute;
    top: -7px;
    left: 55px;
    font-size: 25px;
}

.menu_build_need{
    position: absolute;
    top: 50px;
    left: 48px;
    width: 100%;
}

.menu_build_need_div{
    float: left;
    width: 30%;
}

.menu_build_need_wood_numbers{
    margin-left: 5px;
    margin-top: 6px;
    position: absolute;
}

.menu_build_locked{
    position: absolute;
    top: 0px;
}

.baby_tree{
    z-index: 4px;
    position: absolute;
    top: 0;
}

.light{
    z-index: 2;
    position: absolute;
    float: left;
    height: 25px;
    width: 25px;
}

.heavy{
    z-index: 2;
    position: absolute;
    float: left;
    height: 25px;
    width: 25px;
}

.rage{
    z-index: 2;
    position: absolute;
    float: left;
    height: 25px;
    width: 25px;
}

.life{
    z-index: 6;
    position: absolute;
    float: left;
    height: 25px;
    width: 25px;
}

.move{
    z-index: 5;
    position: absolute;
    float: left;
    height: 25px;
    width: 25px;
}